.header {
  height: 8rem;
  margin: 0 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
  // padding: 1.5rem;
  &__logo {
    height: 100%;
  }

  &__nav {
    width: 50%;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;

    &--item {
      &-link {
        text-decoration: none;
        color: #000;
        font-size: 1.8rem;
        font-weight: 300;
      }
    }
  }
}
